body {
    font-family: 'Raleway', sans-serif;
    position: relative;
    padding-top: 100px;
    background-color: #9e897f;
}

h6 {
    width: 80%; 
    text-align: center; 
    border-bottom: 1px solid #948e8d; 
    line-height: 0.1em;
    margin: 20px auto 20px; 
 } 
 
 h6 span { 
     background:#e8d9ca; 
     padding:0 10px; 
     color: #948e8d;
 }

/* default styling */
.center {
    margin: auto;
}

.button-styling {
    background-color: #948e8d;
    height: 36px;
    width: 100px;
}

.button-styling:hover {
    background-color: #cac2c0;
}

.input-styling {
    border-radius: 6px;
    border-style:hidden;
    padding: 10px;

}

.input-styling:focus {
    outline: none;
}


/*home page with login*/
.home-page {
    text-align: center;
    background-color: #e8d9ca;
    margin: auto;
    border-radius: 6px;
}

.home-page-entry {
    padding: 10px;
}

.input-entry {
    border-radius: 10px;
    border-style: hidden;
}

.sign-up {
    background-color: #948e8d;
    margin-bottom: 10px;
    
}
 
.sign-up:hover {
    background-color: #cac2c0;
}

.login-btn {
    width: 25%;
}


/*main page with the tasks list*/
.main-app-body {
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top: 1rem;
    /* position: relative; */
    text-align: center;
}

.task-styles {
    margin: 0, 10px;
    cursor: pointer;
    font-size: 18px;
}

.intro-name {
    text-align: left;
    padding-top: 1rem;
    padding-left: 2rem;
}

.outer-container {
    text-align: center;
}

.container {
    /* background-color: red; */
    text-align: center;
    width: 600px;
}

.top-text {
    padding-top: 2rem;
}

.logout {
    border-radius: 10px;
    margin-left: auto;
    margin-right: 0;
    padding-bottom: 5px;
    text-align: right;
}

.logout-btn {
    background-color: #948e8d;
}

.logout-btn:hover {
    background-color: #cac2c0;
}

#input-field {
    width: 280px;
    height: 36px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    border-radius: 5px;
}

#input-field:focus {
    outline: none;
}

.task-items {
    text-align: left;
    height: 300px;
    padding-top: 1rem;
    overflow: auto;
    width: 60%;
    margin: auto;
}

p:hover {
    background-color: #cac2c0;
    border-radius: 5px;
    padding-left: 10px;
}

.main-application {
    text-align: center;
    background-color: #E8D9CA;
    height: auto;
    border-radius: 10px;
    padding: 20px;
}

.todo-list-items {
    height: 300px;
    width: 50%;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: white;
}


/* setting the default display */

/* Page 1 buttons etc */
#change-page-display {
    display: none;
}

/* Page 2 buttons etc */
#reflection-page-display {
    display: none;
}

#recommendations-div {
    height: 50px;
}

/* Page 3 buttons etc */
#happy-input-field {
    width: 40px;
    border-radius: 6px;
    border-style: hidden;
}

#explain-input-field {
    width: 85%;
    height: 100px;
    overflow: auto;
}

#third-page-buttons {
    display: none;
}